<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.kg.mapper.B_CorpMemberMapper">
  
	<select id="getCmemberList" resultType="org.kg.domain.B_CorpMemberVO">
		select * from b_corpMember_tbl
	</select>
	
	<insert id="insertCorp">
		insert into b_corpMember_tbl(c_idx, c_id, c_pw, c_dname,c_dphone,c_demail,c_name,c_zipcode,c_address,
										c_intro,c_type,c_code,c_regdate,c_auth,c_connect,c_aircode,c_img)
		values (B_CORPMEMBER_SEQ.nextval, #{c_id},#{c_pw},#{c_dname},#{c_dphone},#{c_demail},#{c_name},#{c_zipcode}
				,#{c_address},#{c_intro},#{c_type},#{c_code},sysdate,'corp',0,#{c_aircode},'clover.png')
	</insert>
	
	<select id="checkIdCorp" parameterType="String" resultType="int">
		select count(*) from b_corpMember_tbl where c_id = #{c_id}
	</select>
	
	<select id="checkEmailCorp" parameterType="String" resultType="int">
		select count(*) from b_corpMember_tbl where c_demail = #{c_demail}
	</select>
	
	<select id="checkPhoneCorp" parameterType="String" resultType="int">
		select count(*) from b_corpMember_tbl where c_dphone = #{c_dphone}
	</select>
	
	<select id="getCmember" resultType="org.kg.domain.B_CorpMemberVO">
		select * from b_corpMember_tbl where c_id= #{c_id} and c_pw=#{c_pw}
	</select>
	
	<delete id="deleteCorp">
		delete b_corpMember_tbl where c_idx = #{c_idx}
	</delete>
	
	<update id="updateIntro">
		update b_corpMember_tbl set c_intro = #{c_intro} where c_idx = #{c_idx}
	</update>
	
	<update id="updateImg">
		update b_corpMember_tbl set c_img = #{c_img} where c_idx = #{c_idx}
	</update>
	
	<update id="updateAddress">
		update b_corpMember_tbl set c_address = #{c_address}, c_zipcode = #{c_zipcode} where c_idx = #{c_idx}
	</update>
	
	<select id="loginpassword" parameterType="String" resultType="String">
		SELECT c_pw FROM b_corpMember_tbl where c_id = #{c_id}
	</select>
  
  	<update id="updatecPw">
		update b_corpMember_tbl set c_pw = #{c_pw} where c_id = #{c_id}
	</update>
	
	<select id="findCIdCode" resultType="org.kg.domain.B_CorpMemberVO">
		SELECT * FROM b_corpMember_tbl where c_dname = #{c_dname} and c_code=#{c_code}
	</select>
	
	<select id="findCIdPhone" resultType="org.kg.domain.B_CorpMemberVO">
		SELECT * FROM b_corpMember_tbl where c_dname = #{c_dname} and c_dphone=#{c_dphone}
	</select>
	
	<select id="findCIdEmail" resultType="org.kg.domain.B_CorpMemberVO">
		SELECT * FROM b_corpMember_tbl where c_dname = #{c_dname} and c_demail=#{c_demail}
	</select>
	
	<update id="findCPw" >
		update b_corpMember_tbl set c_pw = #{c_pw} where c_demail = #{c_demail} and c_id = #{c_id} and c_dname = #{c_dname}
	</update>
	
	<select id="findCPwCheck" resultType="int">
		select count(*) from b_corpMember_tbl where c_demail = #{c_demail} and c_id = #{c_id} and c_dname = #{c_dname}
	</select>
	
	<select id="countC" resultType="org.kg.domain.B_CorpMemberVO">
		select to_char(c_regdate,'yyyymm') as c_regmonth, count(*) as c_joinsum from b_corpmember_tbl group by to_char(c_regdate,'yyyymm') order by c_regmonth asc
	</select>
  
	<select id="getCmemberListPaging" resultType="org.kg.domain.B_CorpMemberVO">
	<![CDATA[
	select * from (
		select /*+index_desc(tbl_board pk_board) */
		rownum rn, c_idx, c_id, c_dname,c_name, c_demail,c_dphone,c_code
		from ( select * from b_corpMember_tbl where
	]]>
			<if test="searchType == 'c_id'">c_id like '%'||#{searchName}||'%'</if>
     		<if test="searchType == 'c_dname'">c_dname like '%'||#{searchName}||'%'</if>
     		<if test="searchType == 'c_name'">c_name like '%'||#{searchName}||'%'</if>
     		<if test="searchType == null or searchType == '' ">1=1</if>
	<![CDATA[
		order by c_idx desc)where rownum <= #{nowPage} * #{cntPerPage} )
		where rn > (#{nowPage}-1) * #{cntPerPage}
	]]>
	</select>
	
	<!-- count_전체 개수 갖고오기 -->
	<select id="getCmemberTotalCount" resultType="int">
      select count(*) as total from b_corpMember_tbl
      where <if test="searchType == 'c_id'">c_id like '%'||#{searchName}||'%'</if>
     		<if test="searchType == 'c_dname'">c_dname like '%'||#{searchName}||'%'</if>
     		<if test="searchType == 'c_name'">c_name like '%'||#{searchName}||'%'</if>
     		<if test="searchType == null or searchType == '' ">1=1</if>
	</select>
  
  
  

  
  
  </mapper>