<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.kg.mapper.K_FlightMapper">
  
	<!-- 공항 조회 -->
	<select id="airportList" resultType="org.kg.domain.K_airportVO">
		SELECT * FROM k_airport_tbl
	</select>
	
	<!-- 항공편 조회 : 기업회원 항공사 코드랑 일치하는 항공편 -->
	<select id="flightList" resultType="org.kg.domain.K_flightVO">
		SELECT * FROM k_flight_tbl WHERE c_aircode = #{c_aircode}
	</select>
	
	<!-- 항공편 일정 조회 -->
	<select id="scheduleList" resultType="org.kg.domain.K_scheduleDTO">
		SELECT 
			s.date_idx, s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a
		FROM k_schedule_tbl s 
			INNER JOIN K_AIRPORT_TBl d on s.ap_idx_d = d.ap_idx
			INNER JOIN K_AIRPORT_TBl a on s.ap_idx_a = a.ap_idx 
		WHERE c_aircode = #{c_aircode}
		ORDER BY s.start_date ASC
	</select>
	
	<!-- 항공편 일정 추가 -->
	<insert id="insertSchedule">
		INSERT INTO 
			k_schedule_tbl(date_idx, flight_name, start_date, boarding_time, depart_time, arrive_time, ap_idx_d, ap_idx_a, c_aircode) 
		VALUES 
			(k_schedule_tbl_seq.nextval, #{flight_name}, #{start_date}, #{boarding_time}, #{depart_time}, #{arrive_time}, #{ap_idx_d}, #{ap_idx_a}, #{c_aircode})
	</insert>
	
	<!-- 항공편 일정 삭제 -->
	<delete id="deleteSchedule">
		DELETE FROM k_schedule_tbl WHERE date_idx = #{date_idx}
	</delete>
	
	<!-- 항공편 수정을 위한 조회 -->
	<select id="getFlight" resultType="org.kg.domain.K_scheduleDTO">
		SELECT 
			s.date_idx, s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a
		FROM k_schedule_tbl s 
			INNER JOIN K_AIRPORT_TBl d on s.ap_idx_d = d.ap_idx
			INNER JOIN K_AIRPORT_TBl a on s.ap_idx_a = a.ap_idx 
		WHERE s.date_idx = #{date_idx}
	</select>

	<!-- 항공편 수정 -->
	<update id="updateSchdule">
		UPDATE k_schedule_tbl SET start_date = #{start_date}, boarding_time = #{boarding_time}, depart_time = #{depart_time}, arrive_time = #{arrive_time}, 
		ap_idx_d = #{ap_idx_d}, ap_idx_a = #{ap_idx_a} where date_idx = #{date_idx}
	</update>

	<!-- 항공권 일정 조회 : 이코노미 좌석 선택 -->
	<select id="searchScheduleEco" resultType="org.kg.domain.K_getScheduleDTO">
		SELECT 
			s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a, 
			e.economyseat, e.economyseatprice, b.c_name, s.date_idx
		FROM k_flight_tbl f 
			INNER JOIN k_economyseat_tbl e on f.flight_name = e.flight_name
			INNER JOIN b_corpmember_tbl b on f.c_aircode = b.c_aircode
			INNER JOIN k_schedule_tbl s on f.flight_name = s.flight_name
			INNER JOIN k_airport_tbl d on s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a on s.ap_idx_a = a.ap_idx
		WHERE 
			s.start_date = #{start_date} and d.ap_name_d = #{ap_name_d} and a.ap_name_a = #{ap_name_a}
		ORDER BY s.boarding_time
	</select>
	
	<!-- 항공권 일정 조회 : 비즈니스 좌석 선택 -->
	<select id="searchSchedulBis" resultType="org.kg.domain.K_getScheduleDTO">
		SELECT 
			s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a, 
			r.businessseat, r.businessseatprice, b.c_name, s.date_idx
		FROM k_flight_tbl f 
			INNER JOIN k_businessseat_tbl r on f.flight_name = r.flight_name
			INNER JOIN b_corpmember_tbl b on f.c_aircode = b.c_aircode
			INNER JOIN k_schedule_tbl s on f.flight_name = s.flight_name
			INNER JOIN k_airport_tbl d on s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a on s.ap_idx_a = a.ap_idx
		WHERE 
			s.start_date = #{start_date} and d.ap_name_d = #{ap_name_d} and a.ap_name_a = #{ap_name_a}
		ORDER BY s.boarding_time
	</select>
	
	<!-- 항공권 일정 조회 : 퍼스트 좌석 선택 -->
	<select id="searchScheduleFir" resultType="org.kg.domain.K_getScheduleDTO">
		SELECT 
			s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a, 
			t.firstseat, t.firstseatprice, b.c_name, s.date_idx
		FROM k_flight_tbl f 
			INNER JOIN k_firstseat_tbl t on f.flight_name = t.flight_name
			INNER JOIN b_corpmember_tbl b on f.c_aircode = b.c_aircode
			INNER JOIN k_schedule_tbl s on f.flight_name = s.flight_name
			INNER JOIN k_airport_tbl d on s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a on s.ap_idx_a = a.ap_idx
		WHERE 
			s.start_date = #{start_date} and d.ap_name_d = #{ap_name_d} and a.ap_name_a = #{ap_name_a}
		ORDER BY s.boarding_time
	</select>
	
	<!-- 항공권 일정 조회 : 이코노미 좌석 선택 (최저가) -->
	<select id="searchScheduleEcoPrice" resultType="org.kg.domain.K_getScheduleDTO">
		SELECT 
			s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a, 
			e.economyseat, e.economyseatprice, b.c_name, s.date_idx
		FROM k_flight_tbl f 
			INNER JOIN k_economyseat_tbl e on f.flight_name = e.flight_name
			INNER JOIN b_corpmember_tbl b on f.c_aircode = b.c_aircode
			INNER JOIN k_schedule_tbl s on f.flight_name = s.flight_name
			INNER JOIN k_airport_tbl d on s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a on s.ap_idx_a = a.ap_idx
		WHERE 
			s.start_date = #{start_date} and d.ap_name_d = #{ap_name_d} and a.ap_name_a = #{ap_name_a}
		ORDER BY e.economyseatprice
	</select>
	
	<!-- 항공권 일정 조회 : 비즈니스 좌석 선택 (최저가) -->
	<select id="searchSchedulBisPrice" resultType="org.kg.domain.K_getScheduleDTO">
		SELECT 
			s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a, 
			r.businessseat, r.businessseatprice, b.c_name, s.date_idx
		FROM k_flight_tbl f 
			INNER JOIN k_businessseat_tbl r on f.flight_name = r.flight_name
			INNER JOIN b_corpmember_tbl b on f.c_aircode = b.c_aircode
			INNER JOIN k_schedule_tbl s on f.flight_name = s.flight_name
			INNER JOIN k_airport_tbl d on s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a on s.ap_idx_a = a.ap_idx
		WHERE 
			s.start_date = #{start_date} and d.ap_name_d = #{ap_name_d} and a.ap_name_a = #{ap_name_a}
		ORDER BY r.businessseatprice
	</select>
	
	<!-- 항공권 일정 조회 : 퍼스트 좌석 선택 (최저가) -->
	<select id="searchScheduleFirPrice" resultType="org.kg.domain.K_getScheduleDTO">
		SELECT 
			s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a, 
			t.firstseat, t.firstseatprice, b.c_name, s.date_idx
		FROM k_flight_tbl f 
			INNER JOIN k_firstseat_tbl t on f.flight_name = t.flight_name
			INNER JOIN b_corpmember_tbl b on f.c_aircode = b.c_aircode
			INNER JOIN k_schedule_tbl s on f.flight_name = s.flight_name
			INNER JOIN k_airport_tbl d on s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a on s.ap_idx_a = a.ap_idx
		WHERE 
			s.start_date = #{start_date} and d.ap_name_d = #{ap_name_d} and a.ap_name_a = #{ap_name_a}
		ORDER BY t.firstseatprice
	</select>
	
	<!-- 이코노미 좌석 -->
	<select id="getSeatEco" resultType="org.kg.domain.K_getSeatVO">
		SELECT * FROM k_schedule_tbl s INNER JOIN k_economyseat_tbl e on s.flight_name = e.flight_name WHERE s.date_idx = #{date_idx}
	</select>
	
	<!-- 비즈니스 좌석 -->
	<select id="getSeatBis" resultType="org.kg.domain.K_getSeatVO">
		SELECT * FROM k_schedule_tbl s INNER JOIN k_businessseat_tbl b on s.flight_name = b.flight_name WHERE s.date_idx = #{date_idx}
	</select>
	
	<!-- 이코노미 좌석 -->
	<select id="getSeatFir" resultType="org.kg.domain.K_getSeatVO">
		SELECT * FROM k_schedule_tbl s INNER JOIN k_firstseat_tbl f on s.flight_name = f.flight_name WHERE s.date_idx = #{date_idx}
	</select>
	
	<!-- 일반회원 일정선택 -->
	<select id="getSchedule" resultType="org.kg.domain.K_getScheduleDTO">
		SELECT 
			s.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a, 
			t.firstseat, t.firstseatprice, r.businessseat, r.businessseatprice, e.economyseat, e.economyseatprice, b.c_name, s.date_idx
		FROM k_flight_tbl f 
			INNER JOIN k_firstseat_tbl t on f.flight_name = t.flight_name
			INNER JOIN k_businessseat_tbl r on f.flight_name = r.flight_name
			INNER JOIN k_economyseat_tbl e on f.flight_name = e.flight_name
			INNER JOIN b_corpmember_tbl b on f.c_aircode = b.c_aircode
			INNER JOIN k_schedule_tbl s on f.flight_name = s.flight_name
			INNER JOIN k_airport_tbl d on s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a on s.ap_idx_a = a.ap_idx
		WHERE s.date_idx = #{date_idx}
	</select>
	
	<!-- 예약 좌석 리스트 -->
	<select id="getReservationSeatList" resultType="org.kg.domain.K_checkSeatVO">
		SELECT * FROM k_reservation_tbl r 
			INNER JOIN k_schedule_tbl s on r.flight_name = s.flight_name
		WHERE r.flight_name = #{flight_name} and s.date_idx = #{date_idx}
	</select>
	
	<!-- 예약조회 -->
	<select id="getResrvationInfo" resultType="org.kg.domain.K_getResrvationInfoVO">
		SELECT 
			p.m_name, p.m_gender, f.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a,
			r.reservation_idx, r.seat_name, r.tid, r.ticket_price, r.completion
		FROM k_reservation_tbl r
			INNER JOIN b_publicmember_tbl p ON r.m_idx = p.m_idx
			INNER JOIN k_flight_tbl f ON r.flight_name = f.flight_name
			INNER JOIN k_schedule_tbl s ON r.date_idx = s.date_idx
			INNER JOIN k_airport_tbl d ON s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a ON s.ap_idx_a = a.ap_idx
		WHERE r.reservation_idx = #{reservation_idx}
	</select>
	
	<!-- 예약하기 -->
	<insert id="insertReservation">
		INSERT INTO 
			k_reservation_tbl(reservation_idx, date_idx, flight_name, m_idx, ticket_date, ticket_price, seat_name, tid, completion)
		VALUES
			(#{reservation_idx}, #{date_idx}, #{flight_name}, #{m_idx}, sysdate, #{ticket_price}, #{seat_name}, #{tid}, '예약완료')
	</insert>
	
	<!-- 예약번호 조회 -->
	<select id="getReservationIdx" resultType="org.kg.domain.K_getReservationIdxDTO">
		SELECT reservation_idx FROM k_reservation_tbl WHERE date_idx=#{date_idx} and m_idx=#{m_idx}
	</select>
	
	<!-- 항공권 환불 -->
	<update id="refundReservation">
		UPDATE k_reservation_tbl SET completion = '환불완료' where reservation_idx = #{reservation_idx}
	</update>
	
	<!-- 회원별 항공권 조회 -->
	<select id="getBookingList" resultType="org.kg.domain.K_getResrvationInfoVO">
		SELECT 
			p.m_name, p.m_gender, f.flight_name, s.start_date, s.boarding_time, s.depart_time, s.arrive_time, d.ap_name_d, a.ap_name_a,
			r.reservation_idx, r.seat_name, r.completion
		FROM k_reservation_tbl r
			INNER JOIN b_publicmember_tbl p ON r.m_idx = p.m_idx
			INNER JOIN k_flight_tbl f ON r.flight_name = f.flight_name
			INNER JOIN k_schedule_tbl s ON r.date_idx = s.date_idx
			INNER JOIN k_airport_tbl d ON s.ap_idx_d = d.ap_idx
			INNER JOIN k_airport_tbl a ON s.ap_idx_a = a.ap_idx
		WHERE r.m_idx = #{m_idx}
	</select>
	
</mapper>