<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.kg.mapper.P_PakageMapper">
 
	<!-- 전체 리스트 목록 -->
	<select id="getMainList" resultType="org.kg.domain.P_Pakage_info_VO">
		<![CDATA[
			select * from(
			select rownum ,a. * from (
			select * from p_pakage_info_tbl a 
			inner join p_pakage_list_tbl b on a.p_num = b.p_num 
			left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
			left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
			 order by b.p_period asc)a)where rownum <=8
		]]>
	</select>
	
	<!-- 전체 리스트 목록 -->
	<select id="getList" resultType="org.kg.domain.P_Pakage_info_VO">
		<![CDATA[
			select rownum ,a. * from (
			select * from p_pakage_info_tbl a 
			inner join p_pakage_list_tbl b on a.p_num = b.p_num 
			left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
			left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
            order by b.p_period asc) a
		]]>
	</select>
	
	<!-- 사이판 리스트 목록 -->
	<select id="getListSai" resultType="org.kg.domain.P_Pakage_info_VO">
		<![CDATA[
			select rownum ,a. * from (
			select * from p_pakage_info_tbl a 
			inner join p_pakage_list_tbl b on a.p_num = b.p_num 
			left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
			left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
			where a.p_region2 LIKE '사이판' and ROWNUM <= 4 order by b.p_period asc) a
		]]>
	</select>
	
	<!-- 서유럽 리스트 목록 -->
	<select id="getListWeu" resultType="org.kg.domain.P_Pakage_info_VO">
		<![CDATA[
			select rownum ,a. * from (
			select * from p_pakage_info_tbl a 
			inner join p_pakage_list_tbl b on a.p_num = b.p_num 
			left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
			left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
			
			where a.p_region1 LIKE '서유럽' and ROWNUM <= 4 order by b.p_period asc) a
		]]>
	</select>
	
	<!-- 국내섬 리스트 목록 -->
	<select id="getListKos" resultType="org.kg.domain.P_Pakage_info_VO">
		<![CDATA[
			select rownum ,a. * from (
			select * from p_pakage_info_tbl a 
			inner join p_pakage_list_tbl b on a.p_num = b.p_num 
			left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
			left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
			where a.p_region2 LIKE '제주도' or a.p_region2 LIKE '백령도' or a.p_region2 LIKE '울릉도' and ROWNUM <= 4 order by b.p_period asc) a
		]]>
	</select>

	<!-- Read -->
	<select id="read" resultType="org.kg.domain.P_Pakage_info_VO">
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on b.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		 where a.p_num = #{p_num}
	</select>
  	
  	<!-- 예약 -->
  	<insert id="insert">
  		insert into p_pakage_reser_tbl(p_rnum, p_num, m_idx, p_rdate, p_name, p_period,
  		m_id, m_name, m_phone, p_rpeople, p_totalfee, p_tid, p_completion)
  		values(#{p_rnum}, #{p_num}, #{m_idx}, sysdate, #{p_name}, #{p_period},
  		#{m_id}, #{m_name}, #{m_phone}, #{p_rpeople}, #{p_totalfee}, #{p_tid},'예약완료')
  	</insert>
  	
  	<!-- 예약용 read -->
	<select id="readp" resultType="org.kg.domain.P_Pakage_list_VO">
		select * from p_pakage_list_tbl
		where p_num = #{p_num}
	</select>
  	
  	<!-- 예약용 update -->
  	<update id="update">
		update p_pakage_list_tbl set p_people = #{p_people}, p_available = #{p_available} where p_num = #{p_num}  	
  	</update>
  	
  	<!-- search -->
  	<select id="search" resultType="org.kg.domain.P_Pakage_info_VO">
		select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		where a.p_region1 like #{region} or a.p_region2 like #{region} or a.p_country like #{region}
           or a.p_name like #{region} order by b.p_period asc) a
  	</select>
  	
  	<!-- 가격 낮은순 -->
  	<select id="linka" resultType="org.kg.domain.P_Pakage_info_VO">
		select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		order by a.p_fee asc NULLS LAST) a
  	</select>
  	
  	<!-- 가격 높은순 -->
  	<select id="linkb" resultType="org.kg.domain.P_Pakage_info_VO">
		select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		order by a.p_fee desc NULLS LAST) a
  	</select>
  	
  	<!-- 날짜 빠른순 -->
  	<select id="linkc" resultType="org.kg.domain.P_Pakage_info_VO">
		select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		order by a.p_period asc NULLS LAST) a
  	</select>
  	
  	<!-- 날짜 느린순 -->
  	<select id="linkd" resultType="org.kg.domain.P_Pakage_info_VO">
		select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		order by a.p_period desc NULLS LAST) a
  	</select>
  	
  	<!-- 후기 많은 순 -->
  	<select id="linke" resultType="org.kg.domain.P_Pakage_info_VO">
        select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
        left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		order by d.rcount desc NULLS LAST) a
  	</select>
  	
  	<!-- 별점 높은 순 -->
  	<select id="linkf" resultType="org.kg.domain.P_Pakage_info_VO">
        select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		order by c.p_star desc NULLS LAST) a
  	</select>
  	
  	<!-- 유럽검색 -->
  	<select id="slinka" resultType="org.kg.domain.P_Pakage_info_VO">
        select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		where a.p_region1 like '서유럽' order by c.p_star desc NULLS LAST) a
  	</select>
  	
  	<!-- 동남아일본검색 -->
  	<select id="slinkb" resultType="org.kg.domain.P_Pakage_info_VO">
        select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		where a.p_region1 like '동남아' or a.p_country like '일본' order by c.p_star desc NULLS LAST) a
  	</select>
  	
  	<!-- 하와이/몰디브검색 -->
  	<select id="slinkc" resultType="org.kg.domain.P_Pakage_info_VO">
        select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		where a.p_region2 like '하와이' or a.p_region2 like '몰디브' order by c.p_star desc NULLS LAST) a
  	</select>
  	
  	<!-- 괌사이판검색 -->
  	<select id="slinkd" resultType="org.kg.domain.P_Pakage_info_VO">
        select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		where a.p_region2 like '괌' or a.p_region2 like '사이판' order by c.p_star desc NULLS LAST) a
  	</select>
  	
  	<!-- 국내여행검색 -->
  	<select id="slinke" resultType="org.kg.domain.P_Pakage_info_VO">
        select rownum ,a. * from (
		select * from p_pakage_info_tbl a 
		inner join p_pakage_list_tbl b on a.p_num = b.p_num 
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)d on c.p_num = d.p_num
		where a.p_country like '한국' order by c.p_star desc NULLS LAST) a
  	</select>
  		
	<!-- 후기 리스트 목록  -->
	<select id="getReview" resultType="org.kg.domain.P_Review_VO">
		select * from p_review_tbl a
		LEFT OUTER JOIN b_publicmember_tbl b
		ON a.m_idx = b.m_idx
		where p_num = #{p_num} order by p_reviewdate desc
	</select>
	
	<!-- 평균 별점 -->
	<select id="star" resultType="org.kg.domain.P_Review_VO">
		select p_num, avg(p_star) as p_star from p_review_tbl where p_num = #{p_num} group by p_num
	</select>
	
  	<!-- 위시리스트 추가 -->
  	<insert id="wishinsert">
  		insert into p_wish_tbl(w_num, m_idx, p_num)
  		values(#{w_num}, #{m_idx}, #{p_num})
  	</insert>
  	
  	<!-- 위시리스트 삭제 -->
  	<delete id="wishdelete">
  		delete from p_wish_tbl
  		where p_num = #{p_num} and m_idx = #{m_idx}
  	</delete>
	
	<!-- 위시리스트 조회 -->
	<select id="getheart" resultType="org.kg.domain.P_Pakage_info_VO">
		select * from p_wish_tbl
		where m_idx = #{m_idx} and p_num = #{p_num}
	</select>
	
	<!-- 위시리스트 메인 조회 -->
	<select id="getheartMain" resultType="org.kg.domain.P_Pakage_info_VO">
		select * from p_wish_tbl
		where m_idx = #{m_idx}
	</select>
	
	
	
	
	
	
	
	
	
	
	
  	<!-- 개인 구매 패키지 리스트 목록-->
	<select id="getmList" resultType="org.kg.domain.P_Pakage_info_VO">
		<![CDATA[
			select rownum,b. * from (
			select * from p_pakage_reser_tbl a
			inner join p_pakage_info_tbl b
			on a.p_num = b.p_num
			inner join p_pakage_list_tbl c
			on b.p_num = c.p_num 
			left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) d 
			on b.p_num = d.p_num
			left join (select p_rnum, p_renum from p_review_tbl) e
            on a.p_rnum = e.p_rnum
			where a.m_idx LIKE #{m_idx} order by b.p_period asc) b
		]]>
	</select>
	
	<!-- 개인 예약용 read -->
	<select id="mread" resultType="org.kg.domain.P_Pakage_reser_VO">
		select * from p_pakage_reser_tbl a
		inner join p_pakage_info_tbl b
		on a.p_num = b.p_num
		where p_rnum = #{p_rnum}
	</select>
	
	<!-- 개인 예약 취소 -->
 	<update id="mdeletea">
      update p_pakage_reser_tbl
	  set p_completion = '환불완료' where p_rnum = #{p_rnum}
   	</update>
	
	<!-- 개인 예약 취소 update -->
  	<update id="mupdatea">
		update p_pakage_list_tbl set p_people = #{p_people}, p_available = #{p_available} where p_num = #{p_num}  	
  	</update>
	
	<!-- 후기 등록 -->
  	<insert id="rinsert">
  		insert into p_review_tbl(p_renum, p_rnum, p_num, m_idx, m_id, p_reviewdate, p_reviewcontent, p_reviewimg, p_star)
  		values(p_review_tbl_seq.NEXTVAL, #{p_rnum}, #{p_num}, #{m_idx}, #{m_id}, sysdate, #{p_reviewcontent}, #{p_reviewimg},#{p_star})
  	</insert>
	
	<!-- 개인 위시리스트 조회 -->
	<select id="getwishlist" resultType="org.kg.domain.P_Pakage_info_VO">
		select * from p_wish_tbl a
		inner join p_pakage_info_tbl b on a.p_num = b.p_num 	
		inner join p_pakage_list_tbl c on b.p_num = c.p_num
		left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) d on c.p_num = d.p_num
		left join (select p_num, count(p_num) as rcount from p_review_tbl group by p_num order by rcount asc)e on d.p_num = e.p_num
		where a.m_idx = #{m_idx} order by b.p_period asc
	</select>
	
	
	
	
	
	
	
	
	
	
	
	<!-- 패키지 등록 p_num 중복 체크 -->
	<select id="checkp_num" parameterType="String" resultType="int">
		select count(*) from p_pakage_info_tbl where p_num = #{p_num}
	</select>
	
	<!-- 기업 패키지 정보 등록 -->
  	<insert id="cinserta">
  		insert into p_pakage_info_tbl
  	   	(p_num, c_idx, p_period, p_country, p_region1, p_region2, p_name, p_mainimg,
  	   	p_img1, p_img2, p_img3, p_img4, p_information, p_guide, p_max, p_fee, p_division)
  		values
  		(#{p_num}, #{c_idx}, #{p_period}, #{p_country}, #{p_region1}, #{p_region2}, #{p_name}, #{p_mainimg},
  		#{p_img1}, #{p_img2}, #{p_img3}, #{p_img4}, #{p_information}, #{p_guide}, #{p_max}, #{p_fee}, #{p_division})
  	</insert>
	
	<!-- 기업 패키지 리스트 등록 -->
	<insert id="cinsertb">
		insert into p_pakage_list_tbl
		(p_num, p_period, p_max, p_people, p_available)
		values
		(#{p_num}, #{p_period}, #{p_max}, #{p_people}, #{p_max})
  	</insert>
  	
  	<!-- 기업 패키지 리스트 목록-->
	<select id="getcList" resultType="org.kg.domain.P_Pakage_info_VO">
		<![CDATA[
			select rownum ,a. * from (
			select * from p_pakage_info_tbl a 
			inner join p_pakage_list_tbl b on a.p_num = b.p_num 
			left join (select p_num, avg(p_star) as p_star from p_review_tbl group by p_num) c on a.p_num = c.p_num
			where a.c_idx LIKE #{c_idx} order by b.p_period asc) a
		]]>
	</select>
	
	<!-- 기업 패키지 정보 수정 -->
  	<update id="cupdatea">
		update p_pakage_info_tbl set
		p_period = #{p_period}, p_country = #{p_country}, p_region1 = #{p_region1},
		p_region2 = #{p_region2}, p_name = #{p_name}, p_mainimg = #{p_mainimg},
		p_img1 = #{p_img1}, p_img2 = #{p_img2}, p_img3 = #{p_img3},
		p_img4 = #{p_img4}, p_information = #{p_information}, p_guide = #{p_guide},
		p_max = #{p_max}, p_fee = #{p_fee}
		where p_num = #{p_num}  	
  	</update>
	
	<!-- 기업 패키지 리스트 수정 -->
	<update id="cupdateb">
		update p_pakage_list_tbl set
		p_period = #{p_period}, p_max = #{p_max}, p_available = #{p_max}
		where p_num = #{p_num}  	
  	</update>
  	
  	<!-- 기업 패키지 정보 삭제 -->
 	<delete id="cdeletea">
      delete from p_pakage_info_tbl where p_num = #{p_num}
   	</delete>
   	
   	<!-- 기업 패키지 리스트 삭제 -->
 	<delete id="cdeleteb">
      delete from p_pakage_list_tbl where p_num = #{p_num}
   	</delete>
  	
  	
 </mapper>